// font-size
$v-font-size: 14px;
$v-font-size-h1: 20px;
$v-font-size-h2: 18px;
$v-font-size-h3: 16px;
$v-font-size-small: 13px;
$v-font-size-caption: 12px;

// colors
$v-blue: #2EA2F8;
$v-yellow: #FABE3C;
$v-green: #36AF47;
$v-origin: #F7981B;
$v-red: #ED1C24;
$v-white: #fff;

$v-dark-color: #222B3C;
$v-light-color: #FAFBFC;
$v-border-color: #DFE2E5;
$v-divider-color: #EDEFF0;
$v-active-color: #CED0DA;
$v-disabled-color: #F2F4F7;
$v-normal-color: #F8FAFC;
$v-hover-color: #F0F3F6;

$v-font-color-primary: #354052;
$v-font-color-secondary: #7F8FA4;
$v-font-color-tertiary: #B3BAC5;
